/**
 * IceMegaMenu Extension for Joomla 3.0 By IceTheme
 * 
 * 
 * @copyright	Copyright (C) 2012 IceTheme.com. All rights reserved.
 * @license		GNU General Public License version 2
 * 
 * @Website 	http://www.icetheme.com/Joomla-Extensions/icemegamenu.html
 *
 */
.collapse {
  overflow: visible;}
 
/* clear some styles */
.icemegamenu ul,
.icemegamenu li {
	list-style-type:none;
	padding:0;
	margin:0} 
 
 
/* begin mainmenu */ 
.icemegamenu > ul {
	position: relative;
	margin:0 0 45px;
	padding:0;
	z-index: 999;
	clear: both;
	width: 280px;
	height:auto;}
	
	.icemegamenu > ul > li {
		position: relative;
		display: block;
		margin:5px 0;
		padding:0;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		-ms-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;}
		
		.icemegamenu > ul > li  a.iceMenuTitle {
			position: relative;
			z-index: 9999;
			display: block;
			font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 0 20px;
			height:40px;
			line-height: 41px;
			font-size: 16px;
			color: #fff;
			text-decoration:none;
			text-shadow: 1px 1px 1px rgba(0,0,0,.3);}
			
			ul.icesubMenu  ul > li:hover > a.iceMenuTitle,
			 ul.icesubMenu li.active a.iceMenuTitle  { 
				color: #ffff00 }
				
			div.icemegamenu ul#icemegamenu  li.active a.icemega_active > span.icemega_title{ 
				color: #ffff00 }		
		
				
			/* subtitles */
			.icemegamenu > ul > li span.icemega_desc {
				display:block;
				font-size:12px;
				font-family:Verdana, Geneva, sans-serif;
				padding:0;
				line-height:1.25em;
				color:rgba(255,255,255,.6)!important;
				margin-bottom: 7px;
				margin-top:-6px;
				text-shadow:none!important}

 				/* when dont have subtitle */
				.icemegamenu > ul > li >  a.iceMenuTitle > span.icemega_nosubtitle {
					padding-top:0;
					display:block}
					
					
				/* when is current */	
				.icemegamenu > ul > li:hover,
				.icemegamenu > ul > li.active {
					background:#71686b}
					
				
				.icemegamenu > ul > li.active {
					margin-left:-15px;
					padding-left:15px;}
						
					.icemegamenu > ul > li.active:before {
						background:url(../images/current_l.png) no-repeat;
						width:15px;
						height:15px;
						position:absolute;
						bottom:-15px;
						left:0;
						content:"";}
						
					
					.icemegamenu > ul > li.active:after {
						background:url(../images/current.png) no-repeat;
						width:15px;
						height:40px;
						position:absolute;
						top:0;
						right:-15px;
						content:"";}	
					
		
		
		
 /* Submenu */
ul.icesubMenu {
    position: absolute;
    z-index: 600;
    padding: 5px 0 10px;
	margin:0;
    top: 0;
    left: 340px;
    opacity: 0;
    visibility: hidden;
    background: #71686b;
    border:none;
	border-top:none;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;}
	
			
		#icemegamenu > li:hover > ul.icesubMenu {
			opacity: 1;
			visibility: visible;
			left: 280px;}
			
			ul.icesubMenu ul > li {
				position:relative;}
				
				ul.icesubMenu > li a.iceMenuTitle {
					height: auto;
					display: block;
					font-size: 14px;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					padding: 0 0 0 15px;
					line-height: 30px;
					margin: 0 14px;
					border-radius: 0;
					background: url(../images/point.png) no-repeat 0 7px;
					border-bottom: 1px dotted rgba(255, 255, 255, .2)!important;}
	 
	 
				/* when is parent */
				ul.icesubMenu li.parent {
					background: url(../images/arrow.png) no-repeat 93% 45%;}
				
				
				
				
				

 
/* Second Level Dropdown */
ul.sub_level_2,
ul.sub_level_3,
ul.sub_level_4,
ul.sub_level_5 {
	top: -1px;
	left: 250px;
	z-index:99999;
	box-shadow:none;
	border: 1px solid rgba(255,255,255,.3);
	margin: 0 0 0 20px;}
	
	
	ul.icesubMenu ul > li:hover > ul {
		opacity: 1;
		visibility: visible;
		left: 230px;}
	
 
 
 
 
 /* Toggle for responsive */					
.ice-megamenu-toggle {
	 display: none;
	 margin: 0 0 15px;
}

.ice-megamenu-toggle a {
    background:#E6E6E1;
	color:#777;
    display: block;
    height: 45px;
	width: 100%;
	display:block;
	position:relative;
	text-align: center;
	font-size:18px;
	line-height: 45px;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out; 
	transition:all .2s ease-out;} 
	
	.ice-megamenu-toggle a:hover {
		text-decoration:none;
		background:#fff!important;
		color:#111}		

		

 
/* Modules inside dropdown */
.icesubMenu .icemega_cover_module {
    padding: 10px 15px;
	width:auto!important;
	color:#fff;
	color:rgba(255,255,255,.6);
	margin: 10px 10px 0px;}

	.icesubMenu .icemega_cover_module span.iceModuleTile {
		color:#fff;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:20px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
		margin-bottom:12px;
		display:block;}

.icesubMenu .icemega_cover_module a {
	color:#F0C237}
