<link rel="stylesheet" href="dist/css/select2.css">

<div width="100%" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Branch
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
             <form enctype="multipart/form-data" style="padding: 5px; padding-top: 10px" role="form" name="form">
             <div class="form-group">
                    <label class="control-label" for="inputError">Branch Name</label>
              <input id="brName" type="text" class="form-control" placeholder="Branch Name" ng-model="brname" data-ng-required="true">
            </div>
            <div style="padding-top: 5px" class="form-group">
                    <label>Branch Type</label>
                    <select style="width:99.5%" id="brType" ng-model="brType" class="js-example-basic-single form-control" name="state" class="form-control" data-ng-required="true">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option>Addis Ababa</option>
                    <option>Outlying</option>
                    </select>
                </div>
            <input style="margin-top: 10px;padding:7px; width:130px" class="btn btn-success" type="submit" value="Submit" ng-click="form.$valid && SaveBranch()"/>
           </form>  
           </div>
        </div>
        
        <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Branches
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Branch Id</td>
                             <td>Branch Name</td>
                             <td>Branch Type</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in branches">
                             <td>{{row.Id}}</td>
                             <td>{{row.BranchName}}</td>
                             <td>{{row.BranchType}}</td>
                             <td style="white-space: nowrap">
                                <a style="pointer-events: none; cursor: default;"  class="btn btn-danger" type="button" name="delete" ng-click="deleteBr(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
              </div> 
        </div>
    </div>

<script src="scripts/select2.min.js"></script>
<script>
// In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>