<div width="100%" class="col-lg-12" ng-controller="CerteficateController">

        <div class="panel panel-default">
            <div class="panel-heading">
                New Cereteficate
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
             <form enctype="multipart/form-data" style="padding: 5px; padding-top: 10px" role="form" name="form">
             <div class="form-group">
                    <label class="control-label" for="inputError">Certefication Name</label>
              <input id="crName" type="text" class="form-control" placeholder="Certefication Name" ng-model="crName" data-ng-required="true">
            </div>
            <div class="form-group">
                    <label class="control-label" for="inputError">Given By</label>
              <input id="gBy" type="text" class="form-control" placeholder="Given By" ng-model="gBy" data-ng-required="true">
            </div>
            <input style="margin-top: 10px;padding:7px; width:130px" class="btn btn-success" type="submit" value="Submit" ng-click="form.$valid && SaveCerteficate()"/>
           </form>  
           </div>
        </div>
        
        <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Certeficates
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <table  cellspacing="0" width="100%" id="example" class="table table-striped table-bordered table-hover table-responsive dt-responsive nowrap">
                        <thead>
                            <tr>
                             <th>Certeficate Id</th>
                             <th ng-click="sort('CerteficationName')">Certeficate Name
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='CerteficationName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                             </th>
                             <th>Issued By</th>
                             <th>Action</th>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in certeficats|orderBy:sortKey:reverse">
                             <td>{{row.Id}}</td>
                             <td>{{row.CerteficationName}}</td>
                             <td>{{row.GivenBy}}</td>
                             <td style="white-space: nowrap">
                                <a  class="btn btn-danger" type="button" name="delete" ng-click="deleteCr(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
              </div> 
        </div>
    </div>