<div width="100%" class="col-lg-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            New Department
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
         <form enctype="multipart/form-data" style="padding: 5px; padding-top: 10px" role="form" name="form">
         <div class="form-group">
                <label class="control-label" for="inputError">Department Name</label>
          <input id="depName" type="text" class="form-control" placeholder="Department Name" ng-model="depname" data-ng-required="true">
        </div>
        <input style="margin-top: 10px;padding:7px; width:130px" class="btn btn-success" type="submit" value="Submit" ng-click="form.$valid && SaveDepartmet()"/>
       </form>  
       </div>
    </div>
    
    <div class="panel panel-default">
            <div class="panel-heading">
                Registered Departments
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
            <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                    <thead>
                        <tr>
                         <td>Department Id</td>
                         <td>Department Name</td>
                         <td>Action</td>
                   </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="row in departments">
                         <td>{{row.Id}}</td>
                         <td>{{row.DepartmentName}}</td>
                         <td style="white-space: nowrap">
                            <a style="pointer-events: none; cursor: default;" class="btn btn-danger" type="button" name="delete" ng-click="deleteDep(row.Id)"><i class="fa fa-trash-alt"></i></a>
                         </td>
                     </tr>
                 </tbody>
            </table>
          </div> 
    </div>
</div>