<div width="100%" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Grade
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
             <form enctype="multipart/form-data" style="padding: 5px; padding-top: 10px" role="form" name="form">
             <div class="form-group">
                    <label class="control-label" for="inputError">Grade Value</label>
              <input id="grValue" type="number" class="form-control" placeholder="Department Value" ng-model="grValue" data-ng-required="true">
            </div>
            <div class="form-group">
                    <label class="control-label" for="inputError">Grade Name</label>
              <input id="grName" type="text" readonly="true" class="form-control" placeholder="Department Name" ng-model="'Grade ' + grValue" data-ng-required="true">
            </div>
            <input style="margin-top: 10px;padding:7px; width:130px" class="btn btn-success" type="submit" value="Submit" ng-click="form.$valid && SaveGrade()"/>
           </form>  
           </div>
        </div>
        
        <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Grades
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Grade Id</td>
                             <td>Grade Name</td>
                             <td>Grade Value</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in grades">
                             <td>{{row.Id}}</td>
                             <td>{{row.GradeName}}</td>
                             <td>{{row.GradeValue}}</td>
                             <td style="white-space: nowrap">
                                <a style="pointer-events: none; cursor: default;" class="btn btn-danger" type="button" name="delete" ng-click="deleteGr(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
              </div> 
        </div>
    </div>