<link rel="stylesheet" href="dist/css/select2.css">

<div width="100%" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Leave Type
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
             <form enctype="multipart/form-data" style="padding: 5px; padding-top: 10px" role="form" name="form">
             <div class="form-group">
                    <label class="control-label" for="inputError">Leave Name</label>
              <input id="LName" type="text" class="form-control" placeholder="Leave Name" ng-model="LName" data-ng-required="true">
            </div>
            <div style="padding-top: 5px" class="form-group">
                    <label>Deduct Day From Employee Leave Entitlment</label>
                    <select style="width:99.5%" id="Ded" ng-model="Ded" class="js-example-basic-single form-control" name="state" data-ng-required="true">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="1">True</option>
                    <option value="0">False</option>
                    </select>
                </div>
            <input style="margin-top: 10px;padding:7px; width:130px" class="btn btn-success" type="submit" value="Submit" ng-click="form.$valid && SaveLeaveType()"/>
           </form>  
           </div>
        </div>
        
        <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Leave Types
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <table  cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                        <thead>
                            <tr>
                             <td>Leave Type Id</td>
                             <td>Leave Name</td>
                             <td>Day Deduction From Leave Entitlement</td>
                             <td>Action</td>
                       </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="row in leaveTypes">
                             <td>{{row.Id}}</td>
                             <td>{{row.LeaveName}}</td>
                             <td>{{row.Deduction == 1 ? 'True' : 'False'}}</td>
                             <td style="white-space: nowrap">
                                <a style="pointer-events: none; cursor: default;" class="btn btn-danger" type="button" name="delete" ng-click="deleteLType(row.Id)"><i class="fa fa-trash-alt"></i></a>
                             </td>
                         </tr>
                     </tbody>
                </table>
              </div> 
        </div>
    </div>

<script src="scripts/select2.min.js"></script>
<script>
// In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>