<style>
    table {
      border-collapse: collapse;
    }
    
    td {
      border: 1px gray solid;
      padding: 4px;
      width: 5em;
    }
    </style>

<div width="100%" class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Employees Follow Up Report on Date: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="print" class="panel panel-default">
                <div class="panel-heading">
                    All Employees Follow Up Report Based On Occupation
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table id="Occupation" cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <td>Occupation</td>
                                        <td>Number</td>
                                        <td>Percentage</td>
                                        <td>Male Number</td>
                                        <td>Male Percentage</td>
                                        <td>Fmale Number</td>
                                        <td>Female Percentage</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getEmployeesGenderFollowUpBasedOnOccopation()">
                                    <tr>
                                        <td>Executives (Grade 14-15)</td>
                                        <td>{{colM1 * 1 + colF1 * 1}}</td>
                                        <td>{{((colM1 * 1 + colF1 * 1) * 100)/total}}</td>
                                        <td>{{colM1}}</td>
                                        <td>{{((colM1 * 1) * 100)/total}}</td>
                                        <td>{{colF1}}</td>
                                        <td>{{((colF1 * 1) * 100)/total}}</td>
                                    </tr>
                                    <tr>
                                        <td>Top Management-Department and Service </td>
                                        <td>{{colM2 * 1 + colF2 * 1}}</td>
                                        <td>{{((colM2 * 1 + colF2 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM2}}</td>
                                        <td>{{((colM2 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF2}}</td>
                                        <td>{{((colF2 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Managerial, technical and professional</td>
                                        <td>{{colM3 * 1 + colF3 * 1}}</td>
                                        <td>{{((colM3 * 1 + colF3 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM3}}</td>
                                        <td>{{((colM3 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF3}}</td>
                                        <td>{{((colF3 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Middle Management and Professionals Including Grade 1-3 Branch Managers (Grade 10)</td>
                                        <td>{{colM4 * 1 + colF4 * 1}}</td>
                                        <td>{{((colM4 * 1 + colF4 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM4}}</td>
                                        <td>{{((colM4 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF4}}</td>
                                        <td>{{((colF4 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Professional and supervisory (Grade 8-9)</td>
                                        <td>{{colM5 * 1 + colF5 * 1}}</td>
                                        <td>{{((colM5 * 1 + colF5 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM5}}</td>
                                        <td>{{((colM5 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF5}}</td>
                                        <td>{{((colF5 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Professional (Grade 7)</td>
                                        <td>{{colM6 * 1 + colF6 * 1}}</td>
                                        <td>{{((colM6 * 1 + colF6 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM6}}</td>
                                        <td>{{((colM6 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF6}}</td>
                                        <td>{{((colF6 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Semi-professionals (Grade 6)</td>
                                        <td>{{colM7 * 1 + colF7 * 1}}</td>
                                        <td>{{((colM7 * 1 + colF7 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM7}}</td>
                                        <td>{{((colM7 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF7}}</td>
                                        <td>{{((colF7 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Clerical (Grade 3-5)</td>
                                        <td>{{colM8 * 1 + colF8 * 1}}</td>
                                        <td>{{((colM8 * 1 + colF8 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM8}}</td>
                                        <td>{{((colM8 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF8}}</td>
                                        <td>{{((colF8 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Auxiliary (Grade 2)</td>
                                        <td>{{colM9 * 1 + colF9 * 1}}</td>
                                        <td>{{((colM9 * 1 + colF9 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM9}}</td>
                                        <td>{{((colM9 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF9}}</td>
                                        <td>{{((colF9 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Custodial and manual (Grade 1)</td>
                                        <td>{{colM10 * 1 + colF00 * 1}}</td>
                                        <td>{{((colM10 * 1 + colF00 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colM10}}</td>
                                        <td>{{((colM10 * 1) * 100)/total | number : 2}}</td>
                                        <td>{{colF00}}</td>
                                        <td>{{((colF00 * 1) * 100)/total | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>{{total | number : 0}}</td>

                                        <td>{{(((colM1 * 1 + colF1 * 1) * 100)/total) + (((colM2 * 1 + colF2 * 1) *
                                            100)/total) +
                                            (((colM3 * 1 + colF3 * 1) * 100)/total) + (((colM4 * 1 + colF4 * 1) *
                                            100)/total) +
                                            (((colM5 * 1 + colF5 * 1) * 100)/total) + (((colM6 * 1 + colF6 * 1) *
                                            100)/total) +
                                            (((colM7 * 1 + colF7 * 1) * 100)/total) + (((colM8 * 1 + colF8 * 1) *
                                            100)/total) +
                                            (((colM9 * 1 + colF9 * 1) * 100)/total) + (((colM10 * 1 + colF00 * 1) *
                                            100)/total) | number : 0}}</td>

                                        <td>{{(colM1*1) + (colM2*1) +(colM3*1) +(colM4*1) +(colM5*1) +(colM6*1)
                                            +(colM7*1) +(colM8*1) +(colM9*1) +(colM10*1)}}</td>

                                        <td>{{(((colM1 * 1) * 100)/total) + (((colM2 * 1) *
                                            100)/total) +
                                            (((colM3 * 1) * 100)/total) + (((colM4 * 1) *
                                            100)/total) +
                                            (((colM5 * 1) * 100)/total) + (((colM6 * 1) *
                                            100)/total) +
                                            (((colM7 * 1) * 100)/total) + (((colM8 * 1) *
                                            100)/total) +
                                            (((colM9 * 1) * 100)/total) + (((colM10 * 1) * 100)/total) | number : 2}}</td>

                                        <td>{{(colF1*1) + (colF2*1) +(colF3*1) +(colF4*1) +(colF5*1) +(colF6*1)
                                            +(colF7*1) +(colF8*1) +(colF9*1) +(colF00*1)}}</td>


                                        <td>{{(((colF1 * 1) * 100)/total) + (((colF2 * 1) *
                                            100)/total) +
                                            (((colF3 * 1) * 100)/total) + (((colF4 * 1) *
                                            100)/total) +
                                            (((colF5 * 1) * 100)/total) + (((colF6 * 1) *
                                            100)/total) +
                                            (((colF7 * 1) * 100)/total) + (((colF8 * 1) *
                                            100)/total) +
                                            (((colF9 * 1) * 100)/total) + (((colF00 * 1) *
                                            100)/total) | number : 2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('Occupation');">
                        Export to Excel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"
    ng-click="printDiv('print')"><img width="25" height="25" src="assets/printer-icon-144-202093.png"></a>