<style>
    table {
        border-collapse: collapse;
    }

    td {
        border: 1px gray solid;
        padding: 4px;
        width: 5em;
    }
</style>

<div id="print" width="100%" class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Employees Follow Up Report on Date: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="print1" class="panel panel-default">
                <div class="panel-heading">
                    Head Office Employees Follow Up Report Based On Sex
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table id="HeadOfficeFollowUpBasedOnSex" cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <td>Work Unit</td>
                                        <td>Male</td>
                                        <td>Female</td>
                                        <td style="font-weight: bolder">Total</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getFollowUpDataByDepartmentBySex()">
                                    <tr ng-repeat="dat in data4">
                                        <td>{{dat[0]}}</td>
                                        <td ng-if="dat[1] != 0">{{dat[1]}}</td>
                                        <td ng-if="dat[1] == 0"></td>
                                        <td ng-if="dat[2] != 0">{{dat[2]}}</td>
                                        <td ng-if="dat[2] == 0"></td>
                                        <td style="font-weight: bolder">{{dat[1]*1 + dat[2]*1}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder">Total</td>
                                        <td style="font-weight: bolder">{{col00}}</td>
                                        <td style="font-weight: bolder">{{col01}}</td>
                                        <td style="font-weight: bolder">{{totalSum}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('HeadOfficeFollowUpBasedOnSex');">
                Export to Excel</button>
            <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('print1')">
                <img width="25" height="25" src="assets/printer-icon-144-202093.png">
            </a>
        </div>


        <div class="panel-body">
            <div id="print2" class="panel panel-default">
                <div class="panel-heading">
                    Addis Ababa Branch Employees Follow Up Report
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="AddisAbabaFollowUpBasedOnSex">
                                <thead>
                                    <tr>
                                        <td>Addis Ababa Branches</td>
                                        <td>Male</td>
                                        <td>Female</td>
                                        <td style="font-weight: bolder">Total</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getFollowUpDataByBranchTypeBySex()">
                                    <tr ng-repeat="dat in data5">
                                        <td>{{dat[0]}}</td>
                                        <td ng-if="dat[1] != 0">{{dat[1]}}</td>
                                        <td ng-if="dat[1] == 0"></td>
                                        <td ng-if="dat[2] != 0">{{dat[2]}}</td>
                                        <td ng-if="dat[2] == 0"></td>
                                        <td style="font-weight: bolder">{{dat[1]*1 + dat[2]*1}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder">Total</td>
                                        <td style="font-weight: bolder">{{col11}}</td>
                                        <td style="font-weight: bolder">{{col22}}</td>
                                        <td style="font-weight: bolder">{{totalSum1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('AddisAbabaFollowUpBasedOnSex');">
                Export to Excel</button>
                <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('print2')">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
        </div>


        <div class="panel-body">
            <div id="print3" class="panel panel-default">
                <div class="panel-heading">
                    Outlying Branch Employees Follow Up Report
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="OutlyingFollowUpBasedOnSex">
                                <thead>
                                    <tr>
                                        <td>Outlying Branches</td>
                                        <td>Male</td>
                                        <td>Female</td>
                                        <td style="font-weight: bolder">Total</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getFollowUpDataByBranchTypeOutlyingBySex()">
                                    <tr ng-repeat="dat in data6">
                                        <td>{{dat[0]}}</td>
                                        <td ng-if="dat[1] != 0">{{dat[1]}}</td>
                                        <td ng-if="dat[1] == 0"></td>
                                        <td ng-if="dat[2] != 0">{{dat[2]}}</td>
                                        <td ng-if="dat[2] == 0"></td>
                                        <td style="font-weight: bolder">{{dat[1]*1 + dat[2]*1}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder">Total</td>
                                        <td style="font-weight: bolder">{{col111}}</td>
                                        <td style="font-weight: bolder">{{col222}}</td>
                                        <td style="font-weight: bolder">{{totalSum2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('OutlyingFollowUpBasedOnSex');">
                Export to Excel</button>
                <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('print3')">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
        </div>
    </div>
</div>