<style>
    table {
          border-collapse: collapse;
        }
        
        td {
          border: 1px gray solid;
          padding: 4px;
          width: 5em;
        }
        </style>

<div id="printAll" width="100%" class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Head Office Employees Report on Date: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="{{dep.DepartmentName}}" class="panel panel-default" ng-repeat="dep in deps">
                <div class="panel-heading">
                    {{dep.DepartmentName}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="{{dep.Id}}">
                                <thead>
                                    <tr>
                                        <td>Profile</td>
                                        <td>Full Name</td>
                                        <td>Sex</td>
                                        <td>Age</td>
                                        <td>Education</td>
                                        <td>Position</td>
                                        <td>Department</td>
                                        <td>Grade</td>
                                        <td>Salary</td>
                                        <td>Experieance</td>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="row in employeesList | filter: { Department: dep.DepartmentName} | filter: {Branch: 'Head Office'}">
                                    <tr>
                                        <td><img style="width:50px; height:50px;" class="img img-responsive img-circle"
                                                src="{{row.empimg}}"></td>
                                        <td>{{row.first_name + ' ' + row.last_name}}</td>
                                        <td>{{row.sex}}</td>
                                        <td>{{calculateAge(row.date_of_birth)}}</td>
                                        <td>{{row.educational_level}}</td>
                                        <td>{{row.position}}</td>
                                        <td>{{row.Department}}</td>
                                        <td>{{row.grade}}</td>
                                        <td>{{row.salary}}</td>
                                        <td>{{calculateExperieance(row.date_of_employment)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <label>Total Employees In This Department is: <span style="color:brown">{{getTotalEmployeesByDepartment(dep.DepartmentName)}}</span></label>
                        </div>
                    </div>
                    <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                    class="btn btn-sm btn-primary" ng-click="printDiv(dep.DepartmentName)">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
                    <button id="{{dep.Id}}" class="btn btn-success" onclick="javascript:xport.toCSV(this.id);">
                        Export to Excel</button>
                </div>
            </div>
        </div>
    </div>


    <hr style="color:black; padding: 30px;">


    <div class="panel panel-default">
        <div class="panel-heading">
            Addis Ababa Branchs Employees Report on Date: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="{{brn.BranchName}}" class="panel panel-default" ng-repeat="brn in AAbranches">
                <div class="panel-heading">
                    {{brn.BranchName}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="{{brn.Id + 1}}">
                                <thead>
                                    <tr>
                                        <td>Profile</td>
                                        <td>Full Name</td>
                                        <td>Sex</td>
                                        <td>Age</td>
                                        <td>Education</td>
                                        <td>Position</td>
                                        <td>Department</td>
                                        <td>Grade</td>
                                        <td>Salary</td>
                                        <td>Experieance</td>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="row in employeesList | filter: { Branch: brn.BranchName }">
                                    <tr>
                                        <td><img style="width:50px; height:50px;" class="img img-responsive img-circle"
                                                src="{{row.empimg}}"></td>
                                        <td>{{row.first_name + ' ' + row.last_name}}</td>
                                        <td>{{row.sex}}</td>
                                        <td>{{calculateAge(row.date_of_birth)}}</td>
                                        <td>{{row.educational_level}}</td>
                                        <td>{{row.position}}</td>
                                        <td>{{row.Department}}</td>
                                        <td>{{row.grade}}</td>
                                        <td>{{row.salary}}</td>
                                        <td>{{calculateExperieance(row.date_of_employment)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <label>Total Employees In This Branch is: <span style="color:brown">{{getTotalEmployeesByBranch(brn.BranchName)}}</span></label>
                        </div>
                    </div>
                    <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                    class="btn btn-sm btn-primary" ng-click="printDiv(brn.BranchName)">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
                    <button id="{{brn.Id + 1}}" class="btn btn-success" onclick="javascript:xport.toCSV(this.id);">
                        Export to Excel</button>
                </div>
            </div>
        </div>
    </div>

    <hr style="color:black; padding: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            Outlying Branchs Employees Report on Date: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="{{brn.BranchName}}" class="panel panel-default" ng-repeat="brn in Outlyingbranches">
                <div class="panel-heading">
                    {{brn.BranchName}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="{{brn.Id + 2}}">
                                <thead>
                                    <tr>
                                        <td>Profile</td>
                                        <td>Full Name</td>
                                        <td>Sex</td>
                                        <td>Age</td>
                                        <td>Education</td>
                                        <td>Position</td>
                                        <td>Department</td>
                                        <td>Grade</td>
                                        <td>Salary</td>
                                        <td>Experieance</td>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="row in employeesList | filter: { Branch: brn.BranchName }">
                                    <tr>
                                        <td><img style="width:50px; height:50px;" class="img img-responsive img-circle"
                                                src="{{row.empimg}}"></td>
                                        <td>{{row.first_name + ' ' + row.last_name}}</td>
                                        <td>{{row.sex}}</td>
                                        <td>{{calculateAge(row.date_of_birth)}}</td>
                                        <td>{{row.educational_level}}</td>
                                        <td>{{row.position}}</td>
                                        <td>{{row.Department}}</td>
                                        <td>{{row.grade}}</td>
                                        <td>{{row.salary}}</td>
                                        <td>{{calculateExperieance(row.date_of_employment)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <label>Total Employees In This Branch is: <span style="color:brown">{{getTotalEmployeesByBranch(brn.BranchName)}}</span></label>
                        </div>
                    </div>
                    <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                    class="btn btn-sm btn-primary" ng-click="printDiv(brn.BranchName)">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
                    <button id="{{brn.Id + 2}}" class="btn btn-success" onclick="javascript:xport.toCSV(this.id);">
                        Export to Excel</button>
                </div>
            </div>
        </div>
    </div>

    <hr style="color:black; padding: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            Total Employees in this Company on: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <label>Total Employees In This Company is: <span style="color:brown">{{getTotalEmployees()}}</span></label>
        </div>
    </div>
    <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
    class="btn btn-sm btn-primary" ng-click="printDiv('printAll')">    
    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
    </a>
</div>