<link rel="stylesheet" href="dist/css/select2.css">
<div class="row">
      <div class="col-lg-12" ng-init="setValues()" ng-controller="employeeEditController">
            <div class="panel panel-default">
                  <div class="panel-heading">
                        Edit Employee Information
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                              <li class="active">
                                    <a href=".edithome" data-toggle="tab">Edit Basics</a>
                              </li>
                              <li>
                                    <a href=".certefications" data-toggle="tab" ng-click="fetchCertfs()">Add
                                          Certefications</a>
                              </li>
                              <li>
                                    <a href=".disiplinaryCases" data-toggle="tab" ng-click="fetchDisciplinaryCases()">Add
                                          Disciplinary Cases</a>
                              </li>
                              <li>
                                    <a href=".transfers" data-toggle="tab" ng-click="fetchTransfers()">Transfer
                                          Employee</a>
                              </li>
                              <li>
                                    <a href=".resignation" data-toggle="tab" ng-click="fetchResigns()">Employee
                                          Resignation / Termination / Deactivation</a>
                              </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                              <div class="tab-pane fade in active edithome">
                                    <h2>Employee Registration Form.</h2>
                                    <div class="col-lg-12">
                                          <div class="col-md-8">
                                                <form id="frmUploader" enctype="multipart/form-data" style="padding: 5px; padding-top: 10px"
                                                      role="form" name="form">
                                                      <div class="row">
                                                            <input type="hidden" id="Id">
                                                            <div class="form-group">
                                                                  <label class="control-label" for="inputError">Employee
                                                                        Photo</label>
                                                                  <input type="file" style="max-width:550px" id="image2"
                                                                        ng-model="image2" accept="image/*" onchange="angular.element(this).scope().uploadedFile2(this)"
                                                                        class="form-control">
                                                                  <img id="output2" style="margin-top: 5px; width: 120px; height: 120px;"
                                                                        class="img img-responsive img-circle" src="images/user.png">
                                                                  <input style="margin-top: 10px;padding:7px; width:130px"
                                                                        class="btn btn-success" type="submit" value="Change Image"
                                                                        ng-click="UpdateEmployeeImage()" />
                                                            </div>
                                                            <div class="form-group">
                                                                  <div class="col-md-12">
                                                                        <label class="control-label" for="inputError">EmployeeId</label>
                                                                        <input id="empID" type="text" class="form-control"
                                                                              ng-model="empID" placeholder="Employee Id"
                                                                              data-ng-required="true">
                                                                  </div>
                                                            </div>
                                                            <div style="padding-top: 5px" class="form-group">
                                                                  <div class="col-lg-4 col-md-6">
                                                                        <label class="control-label" for="inputSuccess">First
                                                                              Name</label>
                                                                        <input id="fname" type="text" class="form-control"
                                                                              ng-model="fname" placeholder="First name"
                                                                              data-ng-required="true">
                                                                  </div>
                                                                  <div class="col-lg-4 col-md-6">
                                                                        <label class="control-label" for="inputWarning">Last
                                                                              Name</label>
                                                                        <input id="lname" type="text" class="form-control"
                                                                              ng-model="lname" placeholder="First name"
                                                                              data-ng-required="true">
                                                                  </div>
                                                                  <div class="col-lg-4 col-md-6">
                                                                        <label class="control-label" for="inputError">Grand
                                                                              Name</label>
                                                                        <input id="gname" type="text" class="form-control"
                                                                              ng-model="gname" placeholder="Grand name">
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div style="padding-top: 5px" class="form-group">
                                                            <label>Gender</label>
                                                            <select id="sex" class="js-example-basic-single form-control form-control"
                                                                  ng-model="sex" class="form-control">
                                                                  <option value="" selected disabled hidden>Choose here</option>
                                                                  <option value="Male"> Male</option>
                                                                  <option value="Female"> Female</option>
                                                            </select>
                                                      </div>
                                                      <div style="padding-top: 5px" class="form-group">
                                                            <label class="control-label" for="inputError">Birth Date</label>
                                                            <input id="dob" type="date" value="" class="form-control"
                                                                  ng-model="dob" data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Nationality</label>
                                                            <input id="nationality" type="text" class="form-control"
                                                                  ng-model="nationality" placeholder="Nationality"
                                                                  data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Country</label>
                                                            <input id="country" type="text" class="form-control"
                                                                  placeholder="Country" ng-model="country"
                                                                  data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">City</label>
                                                            <input id="city" type="text" class="form-control"
                                                                  placeholder="City" ng-model="city" data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Sub City</label>
                                                            <input id="subCity" type="text" class="form-control"
                                                                  placeholder="Sub City" ng-model="subCity">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">House Number</label>
                                                            <input id="houseno" type="text" class="form-control"
                                                                  placeholder="House Number" ng-model="houseno">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Phone</label>
                                                            <input id="phone" type="text" class="form-control"
                                                                  placeholder="Phone" ng-model="phone" data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Email</label>
                                                            <input id="email" type="email" class="form-control"
                                                                  placeholder="Email" ng-model="email">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Hire date</label>
                                                            <input id="hiredate" type="date" value="" class="form-control"
                                                                  placeholder="Hire date" ng-model="hiredate"
                                                                  data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Education
                                                                  Level</label>
                                                            <select id="edulevel" class="js-example-basic-single form-control"
                                                                  name="state" ng-model="edulevel" class="form-control"
                                                                  data-ng-required="true">
                                                                  <option value="" selected disabled hidden>Choose here</option>
                                                                  <option>Primary School (1-8)</option>
                                                                  <option>High School Completed</option>
                                                                  <option>12th Completed</option>
                                                                  <option>Diploma</option>
                                                                  <option>Bsc.</option>
                                                                  <option>BA.</option>
                                                                  <option>Msc.</option>
                                                                  <option>MA.</option>
                                                                  <option>Phd.</option>
                                                                  <option>Asst Prof.</option>
                                                                  <option>Prof.</option>
                                                            </select>
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Position</label>
                                                            <input id="position" type="text" class="form-control"
                                                                  placeholder="Position" ng-model="position"
                                                                  data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Salary</label>
                                                            <input id="salary" type="number" class="form-control"
                                                                  placeholder="Salary" ng-model="salary" step="any"
                                                                  data-ng-required="true">
                                                      </div>
                                                      <div class="row">
                                                            <div style="padding-top: 5px" class="form-group">
                                                                  <div class="col-md-6">
                                                                        <label class="control-label" for="inputError">Grade</label>
                                                                        <select id="_grade" class="js-example-basic-single form-control form-control"
                                                                              ng-model="grade" data-ng-options="grd.GradeValue as grd.GradeName for grd in gradesList">
                                                                              <option value="" selected disabled hidden>Choose
                                                                                    New Here</option>
                                                                        </select>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="control-label" for="inputError">Current
                                                                              Value</label>
                                                                        <input id="grade" type="text" class="form-control"
                                                                              placeholder="Grade" ng-model="grade"
                                                                              data-ng-required="true">
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <div style="padding-top: 5px" class="form-group">
                                                                  <div class="col-md-6">
                                                                        <label class="control-label" for="inputError">Branch</label>
                                                                        <select id="_Branch" class="js-example-basic-single form-control form-control"
                                                                              data-ng-model="Branch" data-ng-change="BranchSelected(Branch)">
                                                                              <option value="" selected disabled hidden>Choose
                                                                                    New Here</option>
                                                                              <option value="{{brn.BranchName}}"
                                                                                    ng-repeat="brn in branchesList">{{brn.BranchName}}</option>
                                                                        </select>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="control-label" for="inputError">Current
                                                                              Value</label>
                                                                        <input id="Branch" type="text" class="form-control"
                                                                              placeholder="Branch" data-ng-model="Branch"
                                                                              data-ng-required="true">
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <div style="padding-top: 5px" class="form-group">
                                                                  <div class="col-md-6">
                                                                        <label class="control-label" for="inputError">Department</label>
                                                                        <select id="_department" class="js-example-basic-single form-control form-control"
                                                                              ng-model="department">
                                                                              <option value="" selected disabled hidden>Choose
                                                                                    New Here</option>
                                                                              <option value="{{dep.DepartmentName}}"
                                                                                    ng-repeat="dep in departmentsList">{{dep.DepartmentName}}</option>
                                                                        </select>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                        <label class="control-label" for="inputError">Current
                                                                              Value</label>
                                                                        <input id="department" type="text" class="form-control"
                                                                              placeholder="Department" ng-model="department"
                                                                              data-ng-required="true">
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Leave
                                                                  Entitlement (A)</label>
                                                            <input id="LeaveEntitlementA" type="text" class="form-control"
                                                                  placeholder="Leave Entitlement (A)" ng-model="LeaveEntitlementA"
                                                                  data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Leave
                                                                  Entitlement (B)</label>
                                                            <input id="LeaveEntitlementB" type="number" class="form-control"
                                                                  placeholder="Leave Entitlement (B)" ng-model="LeaveEntitlementB"
                                                                  step="any" data-ng-required="true">
                                                      </div>
                                                      <div class="form-group">
                                                            <label class="control-label" for="inputError">Expired Leave</label>
                                                            <input id="ExpLeave" type="number" class="form-control"
                                                                  placeholder="Expired Leave" ng-model="ExpLeave"
                                                                  ng-required="true">
                                                      </div>
                                                      <div class="row">
                                                            <div class="form-group">
                                                                  <div class="col-lg-4 col-md-6">
                                                                        <label class="control-label" for="inputSuccess">Representation</label>
                                                                        <input id="rep" type="number" step="any" class="form-control"
                                                                              ng-model="rep" placeholder="Representation"
                                                                              data-ng-required="true">
                                                                  </div>
                                                                  <div class="col-lg-4 col-md-6">
                                                                        <label class="control-label" for="inputSuccess">Transport</label>
                                                                        <input id="trans" type="number" step="any"
                                                                              class="form-control" ng-model="trans"
                                                                              placeholder="Transport" data-ng-required="true">
                                                                  </div>
                                                                  <div class="col-lg-4 col-md-6">
                                                                        <label class="control-label" for="inputError">Performance
                                                                              Value</label>
                                                                        <input id="performace" type="number" step="any"
                                                                              class="form-control" ng-model="performace"
                                                                              placeholder="Performance Value">
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <input style="margin-top: 10px;padding:7px; width:130px" class="btn btn-success"
                                                            type="submit" value="Submit" ng-click="UpdateEmployee()" />
                                                </form>
                                          </div>
                                    </div>
                              </div>

                              <div class="tab-pane fade certefications">
                                    <div class="row">
                                          <div class="col-md-12">
                                                <br>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Certefiations</label>
                                                      <br />
                                                      <select multiple class="js-example-basic-single" id="certSelector"
                                                            style="width:100%" name="states[]" multiple="multiple">
                                                            <option class="form-control" value="{{cert.Id}}" ng-repeat="cert in certeficatsList">{{cert.CerteficationName}}</option>
                                                      </select>
                                                </div>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Current Date</label>
                                                      <input type="date" id="dateIssued" class="form-control" readonly="true">
                                                </div>
                                                <input style="margin-top: 10px; padding:7px; width:130px" class="btn btn-success"
                                                      type="submit" value="Submit" ng-click="AddCertficatesToEmployee()" />
                                          </div>
                                    </div>
                                    <div style="padding:10px" class="row">
                                          <div class="panel panel-default">
                                                <div class="panel-heading">
                                                      Employee Certeficates
                                                </div>
                                                <!-- /.panel-heading -->
                                                <div class="panel-body">
                                                      <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                                            id="dataTables-example">
                                                            <thead>
                                                                  <tr>
                                                                        <td>Certeficate Id</td>
                                                                        <td>Certeficate Name</td>
                                                                        <td>Given By</td>
                                                                        <td>Date Issued</td>
                                                                        <td>Action</td>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                                  <tr ng-repeat="row in empCerteficates">
                                                                        <td>{{row.CerteficationID}}</td>
                                                                        <td>{{row.CerteficationName}}</td>
                                                                        <td>{{row.GivenBy}}</td>
                                                                        <td>{{row.CertfiedDate}}</td>
                                                                        <td style="white-space: nowrap">
                                                                              <a class="btn btn-danger" type="button"
                                                                                    name="delete" ng-click="deleteEmpCert(row.Id)">
                                                                                    <i class="fa fa-trash-alt"></i>
                                                                              </a>
                                                                        </td>
                                                                  </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>


                              <div class="tab-pane fade disiplinaryCases">
                                    <div class="row">
                                          <div class="col-md-12">
                                                <br>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Employee Id</label>
                                                      <input type="numnber" id="_empID" class="form-control" readonly="true">
                                                </div>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Disciplinary Case</label>
                                                      <textarea rows="3" id="disciplinaryTxt" class="form-control"></textarea>
                                                </div>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Actions Taken</label>
                                                      <textarea rows="3" id="disciplinaryActions" class="form-control"></textarea>
                                                </div>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Current Date</label>
                                                      <input type="date" id="today" class="form-control" readonly="true">
                                                </div>
                                                <input style="margin-top: 10px; padding:7px; width:130px" class="btn btn-success"
                                                      type="submit" value="Submit" ng-click="AddDispCaseToEmployee()" />
                                          </div>
                                    </div>
                                    <div style="padding:10px" class="row">
                                          <div class="panel panel-default">
                                                <div class="panel-heading">
                                                      Employee Disciplinary Cases
                                                </div>
                                                <!-- /.panel-heading -->
                                                <div class="panel-body">
                                                      <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                                            id="dataTables-example">
                                                            <thead>
                                                                  <tr>
                                                                        <td>Id</td>
                                                                        <td>Disciplinary Case</td>
                                                                        <td>Actions Taken</td>
                                                                        <td>Current Date</td>
                                                                        <td>Action</td>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                                  <tr ng-repeat="row in disciplinaryCases">
                                                                        <td>{{row.Id}}</td>
                                                                        <td>{{row.DisplinaryText}}</td>
                                                                        <td>{{row.DesicionTaken}}</td>
                                                                        <td>{{row.date}}</td>
                                                                        <td style="white-space: nowrap">
                                                                              <a class="btn btn-danger" type="button"
                                                                                    name="delete" ng-click="deleteDisp(row.Id)">
                                                                                    <i class="fa fa-trash-alt"></i>
                                                                              </a>
                                                                        </td>
                                                                  </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="tab-pane fade transfers">
                                    <div class="row">
                                          <div style="padding-top: 10px;" class="col-md-12">
                                                <div class="row">
                                                      <div class="form-group">
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">Current
                                                                        Position</label>
                                                                  <input readonly="true" id="curposition" type="text"
                                                                        class="form-control" placeholder="Position"
                                                                        data-ng-required="true">
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">New
                                                                        Position</label>
                                                                  <input id="newposition" type="text" class="form-control"
                                                                        placeholder="Position" ng-model="position"
                                                                        data-ng-required="true">
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                      <div class="form-group">
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">Current
                                                                        Grade</label>
                                                                  <input readonly="true" id="curgrade" type="text"
                                                                        class="form-control" placeholder="Grade"
                                                                        data-ng-required="true">
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">New
                                                                        Grade</label>
                                                                  <select style="width:100%" id="newgrade" class="js-example-basic-single form-control form-control"
                                                                        ng-model="grade">
                                                                        <option value="" selected disabled hidden>Choose
                                                                              New Here</option>
                                                                        <option value="{{grd.GradeValue}}" ng-repeat="grd in gradesList">{{grd.GradeName}}</option>
                                                                  </select>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                      <div class="form-group">
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">Current
                                                                        Branch</label>
                                                                  <input readonly="true" id="curBranch" type="text"
                                                                        class="form-control" placeholder="Branch"
                                                                        data-ng-required="true">
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">New
                                                                        Branch</label>
                                                                  <select style="width:100%" id="newBranch" class="js-example-basic-single form-control form-control"
                                                                        data-ng-model="Branch" data-ng-change="BranchSelected(Branch)">
                                                                        <option value="" selected disabled hidden>Choose
                                                                              New Here</option>
                                                                        <option value="{{brn.BranchName}}" ng-repeat="brn in branchesList">{{brn.BranchName}}</option>
                                                                  </select>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                      <div class="form-group">
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">Current
                                                                        Department</label>
                                                                  <input readonly="true" id="curdepartment" type="text"
                                                                        class="form-control" placeholder="Department"
                                                                        data-ng-required="true">
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">New
                                                                        Department</label>
                                                                  <select style="width:100%" id="newdepartment" class="js-example-basic-single form-control form-control"
                                                                        ng-model="department">
                                                                        <option value="" selected disabled hidden>Choose
                                                                              New Here</option>
                                                                        <option value="{{dep.DepartmentName}}"
                                                                              ng-repeat="dep in departmentsList">{{dep.DepartmentName}}</option>
                                                                  </select>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                      <div class="form-group">
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">Current
                                                                        Salary</label>
                                                                  <input readonly="true" id="cursalary" type="number"
                                                                        class="form-control" placeholder="Salary" step="any"
                                                                        data-ng-required="true">
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <label class="control-label" for="inputError">New
                                                                        Salary</label>
                                                                  <input id="newsalary" type="number" class="form-control"
                                                                        placeholder="Salary" ng-model="salary" step="any"
                                                                        data-ng-required="true">
                                                            </div>
                                                      </div>
                                                </div>
                                                <input style="margin-top: 10px; padding:7px; width:130px" class="btn btn-success"
                                                      type="submit" value="Submit" ng-click="TransferEmployee()" />
                                          </div>
                                    </div>
                                    <div style="padding:10px" class="row">
                                          <div class="panel panel-default">
                                                <div class="panel-heading">
                                                      Employee Transfers
                                                </div>
                                                <!-- /.panel-heading -->
                                                <div class="panel-body">
                                                      <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                                            id="dataTables-example">
                                                            <thead>
                                                                  <tr>
                                                                        <td>Id</td>
                                                                        <td>Department</td>
                                                                        <td>Position</td>
                                                                        <td>Grade</td>
                                                                        <td>Branch</td>
                                                                        <td>Salary</td>
                                                                        <td>End Date</td>
                                                                        <td>Action</td>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                                  <tr ng-repeat="row in Employeetransfers">
                                                                        <td>{{row.Id}}</td>
                                                                        <td>{{row.department}}</td>
                                                                        <td>{{row.position}}</td>
                                                                        <td>{{row.grade}}</td>
                                                                        <td>{{row.Branch}}</td>
                                                                        <td>{{row.salary}}</td>
                                                                        <td>{{row.EndDate}}</td>
                                                                        <td style="white-space: nowrap">
                                                                              <a class="btn btn-danger" type="button"
                                                                                    name="delete" ng-click="deleteTransfers(row.Id)">
                                                                                    <i class="fa fa-trash-alt"></i>
                                                                              </a>
                                                                        </td>
                                                                  </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="tab-pane fade resignation">
                                    <div class="row">
                                          <div class="col-md-12">
                                                <br>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Employee Id</label>
                                                      <input type="numnber" id="EMPID" class="form-control" readonly="true">
                                                </div>
                                                <div class="form-group">
                                                            <label class="control-label" for="inputError">Type</label>
                                                            <br>
                                                            <select style="width:100%" id="ResignType" class="js-example-basic-single form-control"
                                                            name="state" ng-model="ResignType" class="form-control" data-ng-required="true" required>
                                                                  <option value="" selected disabled hidden>Choose
                                                                                    New Here</option>
                                                                  <option value="Resignation">Resignation</option>
                                                                  <option value="Termination">Termination</option>
                                                                  <option value="Death">Not Active</option>
                                                                  <option value="Death">Death</option>
                                                            </select>
                                                </div>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Reason</label>
                                                      <textarea rows="4" id="reason" class="form-control"></textarea>
                                                </div>
                                                <div style="padding-top: 5px" class="form-group">
                                                      <label class="control-label" for="inputError">Current Date</label>
                                                      <input type="date" id="_today" class="form-control" readonly="true">
                                                </div>
                                                <input id="resignButton" style="margin-top: 10px; padding:7px; width:130px"
                                                      class="btn btn-success" type="submit" value="Submit" ng-click="Resign()" />
                                          </div>
                                    </div>
                                    <div style="padding:10px" class="row">
                                          <div class="panel panel-default">
                                                <div class="panel-heading">
                                                      Employee Resignation
                                                </div>
                                                <!-- /.panel-heading -->
                                                <div class="panel-body">
                                                      <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                                            id="dataTables-example">
                                                            <thead>
                                                                  <tr>
                                                                        <td>Id</td>
                                                                        <td>Type</td>
                                                                        <td>Reason</td>
                                                                        <td>Resigning Date</td>
                                                                        <td>Action</td>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                                  <tr ng-repeat="row in Employeeresign">
                                                                        <td>{{row.Id}}</td>
                                                                         <td>{{row.Type}}</td>
                                                                        <td>{{row.Reason}}</td>
                                                                        <td>{{row.date}}</td>
                                                                        <td style="white-space: nowrap">
                                                                              <a class="btn btn-danger" type="button"
                                                                                    name="delete" ng-click="deleteResign(row.Id , row.EmpID)">
                                                                                    <i class="fa fa-reply"></i>
                                                                              </a>
                                                                        </td>
                                                                  </tr>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                        </div>
                  </div>
                  <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
      </div>
</div>
<script>
      $(document).ready(function () {
            $("#certSelector").select2();
            $('.js-example-basic-single').select2();
            document.getElementById('dateIssued').valueAsDate = new Date();
      });
</script>
<script src="scripts/select2.min.js"></script>