<style>
    table {
        border-collapse: collapse;
    }

    td {
        border: 1px gray solid;
        padding: 4px;
        width: 5em;
    }
</style>

<div id="print" width="100%" class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Employees Follow Up Report on Date: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Head Office Employees Follow Up Report Based On Sex And Education
                </div>
                <!-- /.panel-heading -->
                <div id="print1" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="HeadOfficeFollowUpEducation_Sex">
                                <thead>
                                    <tr>
                                        <td>Work Unit</td>
                                        <td>MA/Msc. Male</td>
                                        <td>MA/Msc. Female</td>
                                        <td>BA/Bsc. Male</td>
                                        <td>BA/Bsc. Female</td>
                                        <td>Diploma Male</td>
                                        <td>Diploma Female</td>
                                        <td>Certificate Male</td>
                                        <td>Certificate Female</td>
                                        <td style="font-weight: bolder">Total</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getFollowUpDataByDepartment()">
                                    <tr ng-repeat="dat in data1">
                                        <td>{{dat[0]}}</td>
                                        <td ng-if="dat[1] != 0">{{dat[1]}}</td>
                                        <td ng-if="dat[1] == 0"></td>
                                        <td ng-if="dat[2] != 0">{{dat[2]}}</td>
                                        <td ng-if="dat[2] == 0"></td>
                                        <td ng-if="dat[3] != 0">{{dat[3]}}</td>
                                        <td ng-if="dat[3] == 0"></td>
                                        <td ng-if="dat[4] != 0">{{dat[4]}}</td>
                                        <td ng-if="dat[4] == 0"></td>
                                        <td ng-if="dat[5] != 0">{{dat[5]}}</td>
                                        <td ng-if="dat[5] == 0"></td>
                                        <td ng-if="dat[6] != 0">{{dat[6]}}</td>
                                        <td ng-if="dat[6] == 0"></td>
                                        <td ng-if="dat[7] != 0">{{dat[7]}}</td>
                                        <td ng-if="dat[7] == 0"></td>
                                        <td ng-if="dat[8] != 0">{{dat[8]}}</td>
                                        <td ng-if="dat[8] == 0"></td>
                                        <td style="font-weight: bolder">{{col9 = dat[1]*1 + dat[2]*1 + dat[3]*1 +
                                            dat[4]*1 +
                                            dat[5]*1 + dat[6]*1 +
                                            dat[7]*1 + dat[8]*1}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder">Total</td>
                                        <td style="font-weight: bolder">{{col1}}</td>
                                        <td style="font-weight: bolder">{{col2}}</td>
                                        <td style="font-weight: bolder">{{col3}}</td>
                                        <td style="font-weight: bolder">{{col4}}</td>
                                        <td style="font-weight: bolder">{{col5}}</td>
                                        <td style="font-weight: bolder">{{col6}}</td>
                                        <td style="font-weight: bolder">{{col7}}</td>
                                        <td style="font-weight: bolder">{{col8}}</td>
                                        <td style="font-weight: bolder">{{totSum2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('HeadOfficeFollowUpEducation_Sex');">
                Export to Excel</button>
            <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('print1')">
                <img width="25" height="25" src="assets/printer-icon-144-202093.png">
            </a>
        </div>


        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Addis Ababa Branch Employees Follow Up Report
                </div>
                <!-- /.panel-heading -->
                <div id="print2" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="AddisAbabaFollowUpEducation_Sex">
                                <thead>
                                    <tr>
                                        <td>Addis Ababa Branches</td>
                                        <td>MA/Msc. Male</td>
                                        <td>MA/Msc. Female</td>
                                        <td>BA/Bsc. Male</td>
                                        <td>BA/Bsc. Female</td>
                                        <td>Diploma Male</td>
                                        <td>Diploma Female</td>
                                        <td>Certificate Male</td>
                                        <td>Certificate Female</td>
                                        <td style="font-weight: bolder">Total</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getFollowUpDataByBranchType()">
                                    <tr ng-repeat="dat in data2">
                                        <td>{{dat[0]}}</td>
                                        <td ng-if="dat[1] != 0">{{dat[1]}}</td>
                                        <td ng-if="dat[1] == 0"></td>
                                        <td ng-if="dat[2] != 0">{{dat[2]}}</td>
                                        <td ng-if="dat[2] == 0"></td>
                                        <td ng-if="dat[3] != 0">{{dat[3]}}</td>
                                        <td ng-if="dat[3] == 0"></td>
                                        <td ng-if="dat[4] != 0">{{dat[4]}}</td>
                                        <td ng-if="dat[4] == 0"></td>
                                        <td ng-if="dat[5] != 0">{{dat[5]}}</td>
                                        <td ng-if="dat[5] == 0"></td>
                                        <td ng-if="dat[6] != 0">{{dat[6]}}</td>
                                        <td ng-if="dat[6] == 0"></td>
                                        <td ng-if="dat[7] != 0">{{dat[7]}}</td>
                                        <td ng-if="dat[7] == 0"></td>
                                        <td ng-if="dat[8] != 0">{{dat[8]}}</td>
                                        <td ng-if="dat[8] == 0"></td>
                                        <td style="font-weight: bolder">{{dat[1]*1 + dat[2]*1 + dat[3]*1 + dat[4]*1 +
                                            dat[5]*1 + dat[6]*1 +
                                            dat[7]*1 + dat[8]*1}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder">Total</td>
                                        <td style="font-weight: bolder">{{col11}}</td>
                                        <td style="font-weight: bolder">{{col22}}</td>
                                        <td style="font-weight: bolder">{{col33}}</td>
                                        <td style="font-weight: bolder">{{col44}}</td>
                                        <td style="font-weight: bolder">{{col55}}</td>
                                        <td style="font-weight: bolder">{{col66}}</td>
                                        <td style="font-weight: bolder">{{col77}}</td>
                                        <td style="font-weight: bolder">{{col88}}</td>
                                        <td style="font-weight: bolder">{{totSum1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('AddisAbabaFollowUpEducation_Sex');">
                Export to Excel</button>
                <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('print2')">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
        </div>


        <div class="panel-body">
            <div id="print3" class="panel panel-default">
                <div class="panel-heading">
                    Outlying Branch Employees Follow Up Report
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="OutlyingFollowUpEducation_Sex">
                                <thead>
                                    <tr>
                                        <td>Outlying Branches</td>
                                        <td>MA/Msc. Male</td>
                                        <td>MA/Msc. Female</td>
                                        <td>BA/Bsc. Male</td>
                                        <td>BA/Bsc. Female</td>
                                        <td>Diploma Male</td>
                                        <td>Diploma Female</td>
                                        <td>Certificate Male</td>
                                        <td>Certificate Female</td>
                                        <td style="font-weight: bolder">Total</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getFollowUpDataByBranchTypeOutlying()">
                                    <tr ng-repeat="dat in data3">
                                        <td>{{dat[0]}}</td>
                                        <td ng-if="dat[1] != 0">{{dat[1]}}</td>
                                        <td ng-if="dat[1] == 0"></td>
                                        <td ng-if="dat[2] != 0">{{dat[2]}}</td>
                                        <td ng-if="dat[2] == 0"></td>
                                        <td ng-if="dat[3] != 0">{{dat[3]}}</td>
                                        <td ng-if="dat[3] == 0"></td>
                                        <td ng-if="dat[4] != 0">{{dat[4]}}</td>
                                        <td ng-if="dat[4] == 0"></td>
                                        <td ng-if="dat[5] != 0">{{dat[5]}}</td>
                                        <td ng-if="dat[5] == 0"></td>
                                        <td ng-if="dat[6] != 0">{{dat[6]}}</td>
                                        <td ng-if="dat[6] == 0"></td>
                                        <td ng-if="dat[7] != 0">{{dat[7]}}</td>
                                        <td ng-if="dat[7] == 0"></td>
                                        <td ng-if="dat[8] != 0">{{dat[8]}}</td>
                                        <td ng-if="dat[8] == 0"></td>
                                        <td style="font-weight: bolder">{{dat[1]*1 + dat[2]*1 + dat[3]*1 + dat[4]*1 +
                                            dat[5]*1 + dat[6]*1 +
                                            dat[7]*1 + dat[8]*1}}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder">Total</td>
                                        <td style="font-weight: bolder">{{col111}}</td>
                                        <td style="font-weight: bolder">{{col222}}</td>
                                        <td style="font-weight: bolder">{{col333}}</td>
                                        <td style="font-weight: bolder">{{col444}}</td>
                                        <td style="font-weight: bolder">{{col555}}</td>
                                        <td style="font-weight: bolder">{{col666}}</td>
                                        <td style="font-weight: bolder">{{col777}}</td>
                                        <td style="font-weight: bolder">{{col888}}</td>
                                        <td style="font-weight: bolder">{{totSum}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('OutlyingFollowUpEducation_Sex');">
                Export to Excel</button>
                <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('print3')">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
        </div>

    </div>
</div>