<!------ Include the above in your HEAD tag ---------->

<div style="padding:10px; margin-left: 5px; margin-right: 5px" id="print" class="row" ng-init="setSingleEmployeeValues()"
  ng-controller="employeeController">

  <div class="panel panel-default">
    <div class="panel-heading">
        Employee Detail
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href=".employee" data-toggle="tab">Employee Basics</a>
            </li>
            <li>
                <a href=".certefications" data-toggle="tab">Certefications</a>
            </li>
            <li>
                <a href=".transfers" data-toggle="tab">Transfer History</a>
            </li>
            <li>
                <a href=".displinary" data-toggle="tab">Displinary Info</a>
            </li>    
            <li>
                <a href=".leaveInfo" data-toggle="tab">Leave Info</a>
            </li>            
        </ul>

        <!-- Tab panes -->
  <div class="tab-content">
  <div style="padding:10px;" class="tab-pane fade in active employee">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 id="EmpViewHeader" class="panel-title"></h3>
    </div>
    <div id="employeeDetail" class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">
          <img style="width:180px; height:180px" id="output2" alt="User Pic" class="img-circle img-responsive"> </div>

        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Id:</td>
                <td id="Id"></td>
              </tr>
              <tr>
                <tr>
                  <td>Employee Id:</td>
                  <td id="empID"></td>
                </tr>
                <tr>
                  <td>First Name: </td>
                  <td id="fname"></td>
                </tr>
                <tr>
                  <td>Last Name: </td>
                  <td id="lname"></td>
                </tr>
                <tr>
                  <td>Grand Name: </td>
                  <td id="gname"></td>
                </tr>
                <tr>
                  <td>Gender:</td>
                  <td id="sex"></td>
                </tr>
                <tr>
                  <td>Date Of Birth:</td>
                  <td id="dob"></td>
                </tr>
                <tr>
                  <td>Age: </td>
                  <td id="age"></td>
                </tr>
                <tr>
                  <td>Nationality: </td>
                  <td id="nationality"></td>
                </tr>
                <tr>
                  <td>Country: </td>
                  <td id="country"></td>
                </tr>
                <tr>
                  <td>City: </td>
                  <td id="city"></td>
                </tr>
                <tr>
                  <td>Sub City: </td>
                  <td id="subCity"></td>
                </tr>
                <tr>
                  <td>House Number: </td>
                  <td id="houseno"></td>
                </tr>
                <tr>
                  <td>Phone Number: </td>
                  <td id="phone"></td>
                </tr>
                <tr>
                  <td>Email: </td>
                  <td id="email"></td>
                </tr>
                <tr>
                  <td>Date of Employment: </td>
                  <td id="hiredate"></td>
                </tr>
                <tr>
                  <td>Education Level: </td>
                  <td id="edulevel"></td>
                </tr>
                <tr>
                  <td>Experieance: </td>
                  <td id="exp"></td>
                </tr>
                <tr>
                  <td>Position: </td>
                  <td id="position"></td>
                </tr>
                <tr>
                  <td>Grade: </td>
                  <td id="grade"></td>
                </tr>
                <tr>
                  <td>Department: </td>
                  <td id="department"></td>
                </tr>
                <tr>
                  <td>Branch: </td>
                  <td id="Branch"></td>
                </tr>
                <tr>
                  <td>Salary: </td>
                  <td id="salary"></td>
                </tr>
                <!--<tr>
                  <td>Leave Entitlement (A) : </td>
                  <td id="LeaveEntitlementA"></td>
                </tr>
                <tr>
                  <td>Leave Entitlement (B) : </td>
                  <td id="LeaveEntitlementB"></td>
                </tr>
                <tr>
                  <td>Expired Leave : </td>
                  <td id="ExpLeave"></td>
                </tr>
                <tr>
                  <td>Remaining Leave in Monetary </td>
                  <td id="RL"></td>
                </tr>-->
                <tr>
                  <td>Allowance: Representation</td>
                  <td id="rep"></td>
                </tr>
                <tr>
                  <td>Allowance: Transport</td>
                  <td id="trans"></td>
                </tr>
                <tr>
                  <td>Performace Evaluation Value: </td>
                  <td id="performace"></td>
                </tr>
                <tr>
                  <td>Employee Status: </td>
                  <td id="Status"></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('employeeDetail')">
        <img width="25" height="25" src="assets/printer-icon-144-202093.png">
      </a>
      <span class="pull-right">
        <a href="#/editEmployee" class="btn btn-warning" type="button" name="edit" ng-click="FetchEmployeeFromDetail()">
          <i class="fa fa-user-edit"></i>
        </a>
        <a class="btn btn-danger" type="button" name="delete" ng-click="DeleteEmployeeFromDetail()">
          <i class="fa fa-trash"></i>
        </a>
      </span>
    </div>

  </div>
  </div>

  <div style="padding:10px;" class="tab-pane fade in certefications" ng-init="FetchEmployeeCertefication()">
    <div id="employeeCert" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Certefications</h3>
      </div>
      <div class="panel-body">
          <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
          id="dataTables-example">
          <thead class="bg-success">
                <tr>
                      <td>Certeficate Id</td>
                      <td>Certeficate Name</td>
                      <td>Given By</td>
                      <td>Date Issued</td>
                </tr>
          </thead>
          <tbody>
                <tr ng-repeat="row in Empcertefications">
                      <td>{{row.CerteficationID}}</td>
                      <td>{{row.CerteficationName}}</td>
                      <td>{{row.GivenBy}}</td>
                      <td>{{row.CertfiedDate}}</td>
                </tr>
          </tbody>
    </table>
    <br>
    <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('employeeCert')">
      <img width="25" height="25" src="assets/printer-icon-144-202093.png">
    </a>
      </div>
    </div>
  </div>


  <div style="padding:10px;" class="tab-pane fade in transfers" ng-init="FetchEmployeeTransfer()">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Transfer History</h3>
        </div>
        <div id="EmployeeTransfers" class="panel-body">
      <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
      id="dataTables-example">
      <thead class="bg-primary">
            <tr>
                  <td>Id</td>
                  <td>Department</td>
                  <td>Position</td>
                  <td>Grade</td>
                  <td>Branch</td>
                  <td>Salary</td>
                  <td>End Date</td>
            </tr>
      </thead>
      <tbody>
            <tr ng-repeat="row in Emptransfers">
                  <td>{{row.Id}}</td>
                  <td>{{row.department}}</td>
                  <td>{{row.position}}</td>
                  <td>{{row.grade}}</td>
                  <td>{{row.Branch}}</td>
                  <td>{{row.salary}}</td>
                  <td>{{row.EndDate}}</td>
            </tr>
      </tbody>
</table>
<br>
<a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('EmployeeTransfers')">
  <img width="25" height="25" src="assets/printer-icon-144-202093.png">
</a>
        </div>
      </div>
    </div>


  <div style="padding:10px;" class="tab-pane fade in displinary" ng-init="fetchEmployeesDisplinaryCase()">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Diciplinary Info</h3>
        </div>
        <div id="disp" class="panel-body">
            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
            id="dataTables-example">
            <thead class="bg-warning">
                  <tr>
                        <td>Id</td>
                        <td>Disciplinary Case</td>
                        <td>Actions Taken</td>
                        <td>Current Date</td>
                  </tr>
            </thead>
            <tbody>
                  <tr ng-repeat="row in disciplinaryCases">
                        <td>{{row.Id}}</td>
                        <td>{{row.DisplinaryText}}</td>
                        <td>{{row.DesicionTaken}}</td>
                        <td>{{row.date}}</td>
                  </tr>
            </tbody>
      </table>
      <br>
      <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('disp')">
        <img width="25" height="25" src="assets/printer-icon-144-202093.png">
      </a>
        </div>
      </div>
    </div>

    <div style="padding:10px;" class="tab-pane fade in leaveInfo" ng-init="fetchEmployeeLeave()">
        <div id="leaveInfo" class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Leave Info</h3>
          </div>
          <div class="panel-body">
              <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
              id="dataTables-example">
              <thead class="bg-danger">
                    <tr>
                          <td>Leave Type</td>
                          <td>Leave Start Date</td>
                          <td>Leave End Date</td>
                          <td>Pay Status</td>
                          <td>Leave Entry Date</td>	
                    </tr>
              </thead>
              <tbody>
                    <tr ng-repeat="row in empLeave">
                          <td>{{row.LeaveType}}</td>
                          <td>{{row.LeaveStartDate}}</td>
                          <td>{{row.LeaveEndDate}}</td>
                          <td>{{row.PayStatus}}</td> 
                          <td>{{row.leaveEntryDate}}</td> 
                    </tr>
              </tbody>
        </table>
        <div class="row" ng-init="fetchEmployeeTotalLeave()">
            <div class="panel-heading">
                <h3 class="panel-title">Total Leave Info</h3>
              </div>
              <div class="panel-body">
                      <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td>Leave Entitlement A:</td>
                            <td>{{LA}}</td>
                          </tr>
                          <tr>
                            <tr>
                            <td>Leave Entitlement B:</td>
                              <td>{{LB}}</td>
                          </tr>
                          <tr>
                            <td>Total Remaining Leave:</td>
                              <td>{{Total}}</td>
                            </tr>
                          </tr>
                          <tr>
                              <td>Expired Leave:</td>
                                <td>{{ExpLV}}</td>
                              </tr>
                            </tr>
                        </tbody>
                        </table>
                        <br>
                        <a data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="printDiv('leaveInfo')">
                          <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                        </a>
              </div>
        </div>
          </div>
        </div>
      </div>
      
</div>
</div>
</div>
</div>