<style>
    table {
        border-collapse: collapse;
    }

    td {
        border: 1px gray solid;
        padding: 4px;
        width: 5em;
    }
</style>

<div width="100%" class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            General Employees Leave Report
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 col-md-6">
            <label style="margin-left: 5px" class="control-label" for="inputError">Satrting Date</label>
            <input type="date" id="startingDate" class="form-control" ng-model="startingDate" ng-change="filterReport()"/>
            </div>
            <div class="col-lg-4 col-md-6">
            <label style="margin-left: 5px" class="control-label" for="inputError">Ending Date</label>
            <input type="date" id="endingDate" class="form-control" ng-model="endingDate" ng-change="filterReport()" />
            </div>
            <div style="padding-top:5px" class="col-lg-4 col-md-6">
                <br>
                <input type="button" class="btn btn-primary" value="Reset" ng-click="Reset()" />
            </div>
        </div>
        <br>
            <div id="print" class="panel panel-default">
                <div class="panel-heading">
                    General Leave Report
                </div>
                <!-- /.panel-heading -->
                <div style="overflow-x: scroll" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table id="GenralLeaveReport" cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <td>Profile</td>
                                        <td>Full Name</td>
                                        <td>Sex</td>
                                        <!--<td>Age</td>-->
                                        <td>Education</td>
                                        <td>Position</td>
                                        <td>Department</td>
                                        <td>Branch</td>
                                        <td>Grade</td>
                                        <td>Salary</td>
                                        <td>Experieance</td>
                                        <td>Leave Entitilment (A)</td>
                                        <td>Leave Entitilment (B)</td>
                                        <td>Total Leave</td>
                                        <td>Remaining Leave in Monetary</td>
                                        <td>Leave Entry Date</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="row in LeavesList|itemsPerPage:15">
                                        <td>
                                            <img style="width:50px; height:50px;" class="img img-responsive img-circle"
                                                src="{{row.empimg}}">
                                        </td>
                                        <td>{{row.first_name + ' ' + row.last_name}}</td>
                                        <td>{{row.sex}}</td>
                                        <!--<td>{{calculateAge(row.date_of_birth)}}</td>-->
                                        <td>{{row.educational_level}}</td>
                                        <td>{{row.position}}</td>
                                        <td>{{row.Department}}</td>
                                        <td>{{row.Branch}}</td>
                                        <td>{{row.grade}}</td>
                                        <td>{{row.salary}}</td>
                                        <td>{{calculateExperieance(row.date_of_employment)}}</td>
                                        <td>{{row.LeaveEntitilmentA | number : 2}}</td>
                                        <td>{{row.LeaveEntitilmentB | number : 2}}</td>
                                        <td>{{totalLeave = row.LeaveEntitilmentA*1 + row.LeaveEntitilmentB*1 | number : 2}}</td>
                                        <td>{{((row.salary*1)/24)*(totalLeave*1) | number : 2}}</td>
                                        <td>{{row.leaveEntryDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                 <dir-pagination-controls max-size="15" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
                    </div>
                </div>
                <div class="panel-heading">
                    Total Employees Leave in this Company
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <label>Total Employees Leave In This Company is:
                        <span style="color:brown">{{getOverAllTotalLeaveDays() | number : 2}} Days</span>
                    </label>
                    <label style="float:right">Total Employees Leave In This Company in Monetary is:
                        <span style="color:brown">{{getOverAllTotalLeaveInMonetary() | number : 2}} Birr</span>
                    </label>
                </div>
            </div>
            <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
            class="btn btn-sm btn-primary" ng-click="printDiv('print')">
            <img width="25" height="25" src="assets/printer-icon-144-202093.png">
        </a>
        <button class="btn btn-success" onclick="javascript:xport.toCSV('GenralLeaveReport');">
            Export to Excel</button>
        </div>
    </div>
</div>