<div class="col-lg-12">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div style="min-height: 300px" class="panel-heading">
                <div style="margin: auto" class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="row">
                        <div class="huge">Employee Managment</div>
                        <div style="padding-left:10ppx; padding-right:30px; float: right" class="col-md-9">
                            <p style="text-align:justify"> 
                            The Employees module consists of various features allowing you to perform general human resource 
                            management tasks such as employee history, perks and incident reports. Any information needed is 
                            available at the click of a button with comprehensive reporting features.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#/employees">
                <div class="panel-footer">
                    <span class="pull-left">Goto Employees</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-green">
            <div style="min-height: 300px;" class="panel-heading">
                <div style="margin: auto" class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-walking fa-5x"></i>
                    </div>
                    <div class="row">
                        <div class="huge">Leave Managment</div>
                        <div style="padding-left:10ppx; padding-right:30px; float: right" class="col-md-9">
                            <p style="text-align:justify"> 
                            Leave management is one of the simplest yet crucial HR activities that often consumes a significant portion of
                            the HR team’s time. HR personnel have to ensure compliance with leave policies, guarantee the availability of
                            sufficient staff at all times and also make sure that employee satisfaction is retained.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#/leaves">
                <div class="panel-footer">
                    <span class="pull-left">Goto Leave History</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>