<style>
    table {
        border-collapse: collapse;
    }

    td {
        border: 1px gray solid;
        padding: 4px;
        width: 5em;
    }
</style>

<div id="print" width="100%" class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Head Office Employees Leave Report on Date:
            <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="{{dep.DepartmentName}}" class="panel panel-default" ng-repeat="dep in deps">
                <div class="panel-heading">
                    {{dep.DepartmentName}}
                </div>
                <!-- /.panel-heading -->
                <div style="overflow-x: scroll" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="{{dep.Id}}">
                                <thead>
                                    <tr>
                                        <td>Profile</td>
                                        <td>Full Name</td>
                                        <td>Sex</td>
                                        <!--<td>Age</td>-->
                                        <td>Education</td>
                                        <td>Position</td>
                                        <td>Department</td>
                                        <td>Grade</td>
                                        <td>Salary</td>
                                        <td>Experieance</td>
                                        <td>Leave Entitilment (A)</td>
                                        <td>Leave Entitilment (B)</td>
                                        <td>Total Leave</td>
                                        <td>Remaining Leave in Monetary</td>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="row in employeesList | filter: { Department: dep.DepartmentName} | filter: {Branch: 'Head Office'}">
                                    <tr>
                                        <td>
                                            <img style="width:50px; height:50px;" class="img img-responsive img-circle"
                                                src="{{row.empimg}}">
                                        </td>
                                        <td>{{row.first_name + ' ' + row.last_name}}</td>
                                        <td>{{row.sex}}</td>
                                        <!--<td>{{calculateAge(row.date_of_birth)}}</td>-->
                                        <td>{{row.educational_level}}</td>
                                        <td>{{row.position}}</td>
                                        <td>{{row.Department}}</td>
                                        <td>{{row.grade}}</td>
                                        <td>{{row.salary}}</td>
                                        <td>{{calculateExperieance(row.date_of_employment)}}</td>
                                        <td>{{row.LeaveEntitilmentA | number : 2}}</td>
                                        <td>{{row.LeaveEntitilmentB | number : 2}}</td>
                                        <td>{{totalLeave = row.LeaveEntitilmentA*1 + row.LeaveEntitilmentB*1 | number : 2}}</td>
                                        <td>{{((row.salary*1)/24)*(totalLeave*1) | number : 2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <label>Total Employees Leave In This Department is:
                                <span style="color:brown">{{getTotalLeaveDaysByDepartment(dep.DepartmentName) | number : 2}} Days</span>
                            </label>
                            <label style="float:right">Total Employees Leave In This Department in Monetary is:
                                <span style="color:brown">{{getTotalLeaveInMonetaryByDepartment(dep.DepartmentName) | number : 2}}
                                    Birr</span>
                            </label>
                        </div>
                    </div>
                    <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                        class="btn btn-sm btn-primary" ng-click="printDiv(dep.DepartmentName)">
                        <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                    </a>
                    <button id="{{dep.Id}}" class="btn btn-success" onclick="javascript:xport.toCSV(this.id);">
                        Export to Excel</button>
                </div>
            </div>
        </div>
    </div>


    <hr style="color:black; padding: 30px;">


    <div class="panel panel-default">
        <div class="panel-heading">
            Addis Ababa Branch Employees Leave Report on Date:
            <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="{{brn.BranchName}}" class="panel panel-default" ng-repeat="brn in AAbranches">
                <div class="panel-heading">
                    {{brn.BranchName}}
                </div>
                <!-- /.panel-heading -->
                <div style="overflow-x: scroll" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="{{brn.Id + 3}}">
                                <thead>
                                    <tr>
                                        <td>Profile</td>
                                        <td>Full Name</td>
                                        <td>Sex</td>
                                        <!--<td>Age</td>-->
                                        <td>Education</td>
                                        <td>Position</td>
                                        <td>Department</td>
                                        <td>Grade</td>
                                        <td>Salary</td>
                                        <td>Experieance</td>
                                        <td>Leave Entitilment (A)</td>
                                        <td>Leave Entitilment (B)</td>
                                        <td>Total Leave</td>
                                        <td>Remaining Leave in Monetary</td>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="row in employeesList | filter: { Branch: brn.BranchName }">
                                    <tr>
                                        <td>
                                            <img style="width:50px; height:50px;" class="img img-responsive img-circle"
                                                src="{{row.empimg}}">
                                        </td>
                                        <td>{{row.first_name + ' ' + row.last_name}}</td>
                                        <td>{{row.sex}}</td>
                                        <!--<td>{{calculateAge(row.date_of_birth)}}</td>-->
                                        <td>{{row.educational_level}}</td>
                                        <td>{{row.position}}</td>
                                        <td>{{row.Department}}</td>
                                        <td>{{row.grade}}</td>
                                        <td>{{row.salary}}</td>
                                        <td>{{calculateExperieance(row.date_of_employment)}}</td>
                                        <td>{{row.LeaveEntitilmentA | number : 2}}</td>
                                        <td>{{row.LeaveEntitilmentB | number : 2}}</td>
                                        <td>{{totalLeave = row.LeaveEntitilmentA*1 + row.LeaveEntitilmentB*1 | number : 2}}</td>
                                        <td>{{((row.salary*1)/24)*(totalLeave*1) | number : 2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <label>Total Employees Leave In This Branch is:
                                <span style="color:brown">{{getTotalLeaveDaysByBranch(brn.BranchName) | number : 2}} Days</span>
                            </label>
                            <label style="float:right">Total Employees Leave In This Branch in Monetary is:
                                <span style="color:brown">{{getTotalLeaveInMonetaryByBranch(brn.BranchName) | number : 2}} Birr</span>
                            </label>
                        </div>
                    </div>
                </div>
                <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                    class="btn btn-sm btn-primary" ng-click="printDiv(brn.BranchName)">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
                <button id="{{brn.Id + 3}}" class="btn btn-success" onclick="javascript:xport.toCSV(this.id);">
                    Export to Excel</button>
            </div>
        </div>
    </div>

    <hr style="color:black; padding: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            Outlying Branch Employees Leave Report on Date:
            <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="{{brn.BranchName}}" class="panel panel-default" ng-repeat="brn in Outlyingbranches">
                <div class="panel-heading">
                    {{brn.BranchName}}
                </div>
                <!-- /.panel-heading -->
                <div style="overflow-x: scroll" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="{{brn.Id + 4}}">
                                <thead>
                                    <tr>
                                        <td>Profile</td>
                                        <td>Full Name</td>
                                        <td>Sex</td>
                                        <!--<td>Age</td>-->
                                        <td>Education</td>
                                        <td>Position</td>
                                        <td>Department</td>
                                        <td>Grade</td>
                                        <td>Salary</td>
                                        <td>Experieance</td>
                                        <td>Leave Entitilment (A)</td>
                                        <td>Leave Entitilment (B)</td>
                                        <td>Total Leave</td>
                                        <td>Remaining Leave in Monetary</td>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="row in employeesList | filter: { Branch: brn.BranchName }">
                                    <tr>
                                        <td>
                                            <img style="width:50px; height:50px;" class="img img-responsive img-circle"
                                                src="{{row.empimg}}">
                                        </td>
                                        <td>{{row.first_name + ' ' + row.last_name}}</td>
                                        <td>{{row.sex}}</td>
                                        <!--<td>{{calculateAge(row.date_of_birth)}}</td>-->
                                        <td>{{row.educational_level}}</td>
                                        <td>{{row.position}}</td>
                                        <td>{{row.Department}}</td>
                                        <td>{{row.grade}}</td>
                                        <td>{{row.salary}}</td>
                                        <td>{{calculateExperieance(row.date_of_employment)}}</td>
                                        <td>{{row.LeaveEntitilmentA | number : 2}}</td>
                                        <td>{{row.LeaveEntitilmentB | number : 2}}</td>
                                        <td>{{totalLeave = row.LeaveEntitilmentA*1 + row.LeaveEntitilmentB*1 | number : 2}}</td>
                                        <td>{{((row.salary*1)/24)*(totalLeave*1) | number : 2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <label>Total Employees Leave In This Branch is:
                                <span style="color:brown">{{getTotalLeaveDaysByBranch(brn.BranchName) | number : 2}} Days</span>
                            </label>
                            <label style="float:right">Total Employees Leave In This Branch in Monetary is:
                                <span style="color:brown">{{getTotalLeaveInMonetaryByBranch(brn.BranchName) | number : 2}} Birr</span>
                            </label>
                        </div>
                    </div>
                </div>
                <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                    class="btn btn-sm btn-primary" ng-click="printDiv(brn.BranchName)">
                    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                </a>
                <button id="{{brn.Id + 4}}" class="btn btn-success" onclick="javascript:xport.toCSV(this.id);">
                    Export to Excel</button>
            </div>
        </div>
    </div>

    <hr style="color:black; padding: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            Total Employees Leave in this Company on:
            <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <label>Total Employees Leave In This Company is:
                <span style="color:brown">{{getOverAllTotalLeaveDays() | number : 2}} Days</span>
            </label>
            <label style="float:right">Total Employees Leave In This Company in Monetary is:
                <span style="color:brown">{{getOverAllTotalLeaveInMonetary() | number : 2}} Birr</span>
            </label>
        </div>
    </div>

</div>
<a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"
    ng-click="printDiv('print')">
    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
</a>