<!DOCTYPE html>
<html lang="en" ng-app="NibInsuranceEManagment">
<head>
<link rel="stylesheet" href="dist/css/select2.css">
</head>
<body>
<div class="col-lg-12" ng-controller="leaveController">
    <h2>Employee Leave Registration Form.</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            Leave Registrartion
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <div class="col-md-8">
        <form id="frmUploader" enctype="multipart/form-data" style="padding: 5px; padding-top: 10px" role="form" name="form">
            <div style="padding-top: 5px" class="form-group">
                <label>Select Employee</label>
                <select style="width:100%" class="js-example-basic-single form-control" name="state" data-ng-model="blisterPackTemplateSelected" data-ng-change="EmployeeSelected(blisterPackTemplateSelected)" 
                      data-ng-options="blisterPackTemplate as blisterPackTemplate.first_name + ' ' + blisterPackTemplate.last_name for blisterPackTemplate in Allemps">
                     <option value="" selected disabled hidden>Select Employee</option>
                </select>
            </div>  
            <div class="row">
            <div class="col-lg-4 col-md-6">
            <input id="EmpId" class="form-control" readonly="true"  placeholder="Employee Id" >
            </div>
            <div class="col-lg-4 col-md-6">
            <input  id="LEA" class="form-control" readonly="true" placeholder="Leave Entitlement (A)">
            </div>
            <div class="col-lg-4 col-md-6">
            <input  id="LEB" class="form-control" readonly="true" placeholder="Leave Entitlement (B)">
            </div>
            </div><br>
<div class="form-group">
    <label class="control-label" for="inputError">Leave Type</label>
    <select id="leaveType" ng-model="leaveType" style="width:100%" style="width:100%" class="js-example-basic-single form-control" data-ng-required="true">
        <option value="" selected disabled hidden>Select Leave Type</option>
        <option value="{{lve.LeaveName}}" ng-repeat="lve in leaveTypes">{{lve.LeaveName}}</option>
    </select>
</div>
<div class="form-group">
<label class="control-label" for="inputError">Today</label>
<input id="today" type="date" class="form-control" readonly/>
</div>
<div style="padding-top:10px" class="form-group">
    <label class="control-label" for="inputError">Leave Start Date</label>
<input id="leaveStartDate" type="date" class="form-control" ng-model="leaveStartDate" data-ng-required="true">
</div>
<div class="form-group">
    <label class="control-label" for="inputError">Leave End Date</label>
<input id="leaveEndDate" type="date" class="form-control" ng-model="leaveEndDate" data-ng-required="true">
</div>
<div class="form-group">
    <label class="control-label" for="inputError">Leave Taken</label>
<input id="leaveTaken" type="number" class="form-control" placeholder="Leave Taken" ng-model="leaveTaken" step="any" data-ng-required="true">
</div>
<div class="form-group">
        <label class="control-label" for="inputError">Pay Status</label>
        <select id="payStat" ng-model="payStat" style="width:100%" class="js-example-basic-single form-control" data-ng-required="true">
            <option value="" selected disabled hidden>Choose Here</option>
            <option  value="Paid">Paid Leave</option>
            <option value="UnPaid">UnPaid Leave</option>
        </select>
</div>
      <input style="margin-top: 10px;padding:7px; width:130px" class="btn btn-success" type="submit" value="Submit" ng-click="form.$valid && SaveLeave()"/>
     </form>
     </div>
     </div>
     </div>
</div>

<script src="scripts/select2.min.js"></script>
<script>
// In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
    document.getElementById('today').valueAsDate = new Date();
    $('.js-example-basic-single').select2();
});
</script>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular.js"></script>
        <script src="scripts/angular-route.js"></script>
        <script src="controllers/PageController.js"></script>  
</body>
</html>