<style>
    table {
        border-collapse: collapse;
    }

    td {
        border: 1px gray solid;
        padding: 4px;
        width: 5em;
    }
</style>

<div id="printall" width="100%" class="col-lg-12">
    <div id="print" class="panel panel-default">
        <div class="panel-heading">
            Size of Human Resources on Date: <span style="color:brown">{{todayDate}}</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="print1" class="panel panel-default">
                <div class="panel-heading">
                    Size of Human Resources Based on Location, Sex, Education and Age (Head Office)
                </div>
                <!-- /.panel-heading -->
                <div  style="overflow-x: scroll" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="Size_of_HumanResources_HeadOffice">
                                <thead>
                                    <tr>
                                        <td>Location/work unit</td>
                                        <td>Size</td>
                                        <td>Male</td> 
                                        <td>Female</td>                                                                               
                                        <td>MA/Msc. Male</td>
                                        <td>MA/Msc. Female</td>
                                        <td>BA/Bsc. Male</td>
                                        <td>BA/Bsc. Female</td>
                                        <td>Diploma Male</td>
                                        <td>Diploma Female</td>
                                        <td>Certificate Male</td>
                                        <td>Certificate Female</td>
                                        <td>18 - 30</td>
                                        <td>31 - 50</td>
                                        <td>Above 50</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getSizeByDepartment()">
                                    <tr>
                                        <td style="font-weight: bolder">Head Office</td>
                                        <td style="font-weight: bolder">{{totSum2}}</td>
                                        <td style="font-weight: bolder">{{male}}</td>
                                        <td style="font-weight: bolder">{{female}}</td>
                                        <td style="font-weight: bolder">{{col1}}</td>
                                        <td style="font-weight: bolder">{{col2}}</td>
                                        <td style="font-weight: bolder">{{col3}}</td>
                                        <td style="font-weight: bolder">{{col4}}</td>
                                        <td style="font-weight: bolder">{{col5}}</td>
                                        <td style="font-weight: bolder">{{col6}}</td>
                                        <td style="font-weight: bolder">{{col7}}</td>
                                        <td style="font-weight: bolder">{{col8}}</td>
                                        <td>{{emp18_30}}</td>
                                        <td>{{emp31_50}}</td>
                                        <td>{{emp51}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                    <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('Size_of_HumanResources_HeadOffice');">
                        Export to Excel</button>
                        <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                        class="btn btn-sm btn-primary" ng-click="printDiv('print1')">
                        <img width="25" height="25" src="assets/printer-icon-144-202093.png">
                    </a>
                </div>
            </div>


        <div class="panel-body">
            <div id="print2" class="panel panel-default">
                <div class="panel-heading">
                 Size of Human Resources Based on Location, Sex, Education and Age (Addis Ababa Branchs)
                </div>
                <!-- /.panel-heading -->
                <div  style="overflow-x: scroll" class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="SizeofHumanResourcesAABranches">
                                <thead>
                                    <tr>
                                        <td>Addis Ababa Branches</td>
                                        <td>Size</td>
                                        <td>Male</td>
                                        <td>Female</td>
                                        <td>MA/Msc. Male</td>
                                        <td>MA/Msc. Female</td>
                                        <td>BA/Bsc. Male</td>
                                        <td>BA/Bsc. Female</td>
                                        <td>Diploma Male</td>
                                        <td>Diploma Female</td>
                                        <td>Certificate Male</td>
                                        <td>Certificate Female</td>
                                        <td>18 - 30</td>
                                        <td>31 - 50</td>
                                        <td>Above 50</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getSizeByBranchType()">
                                    <tr>
                                        <td style="font-weight: bolder">Addis Ababa Branches</td>
                                        <td style="font-weight: bolder">{{totSum1}}</td>
                                        <td style="font-weight: bolder">{{maleb}}</td>
                                        <td style="font-weight: bolder">{{femaleb}}</td>
                                        <td style="font-weight: bolder">{{col11}}</td>
                                        <td style="font-weight: bolder">{{col22}}</td>
                                        <td style="font-weight: bolder">{{col33}}</td>
                                        <td style="font-weight: bolder">{{col44}}</td>
                                        <td style="font-weight: bolder">{{col55}}</td>
                                        <td style="font-weight: bolder">{{col66}}</td>
                                        <td style="font-weight: bolder">{{col77}}</td>
                                        <td style="font-weight: bolder">{{col88}}</td>
                                        <td>{{emp18_30a}}</td>
                                        <td>{{emp31_50a}}</td>
                                        <td>{{emp51a}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('SizeofHumanResourcesAABranches');">
                Export to Excel</button>
                <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                class="btn btn-sm btn-primary" ng-click="printDiv('print2')">
                <img width="25" height="25" src="assets/printer-icon-144-202093.png">
            </a>
        </div>


        <div class="panel-body">
            <div id="print3" class="panel panel-default">
                <div class="panel-heading">
                      Size of Human Resources Based on Location, Sex, Education and Age (Outlying Branch)
                </div>
                <!-- /.panel-heading -->
                <div style="overflow-x: scroll"  class="panel-body">
                    <div id="docx">
                        <div class="WordSection1">
                            <table cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover table-responsive"
                                id="SizeofHumanResources_OutlyingBranch">
                                <thead>
                                    <tr>
                                        <td>Outlying Branches</td>
                                         <td>Size</td>
                                        <td>Male</td>
                                        <td>Female</td>
                                        <td>MA/Msc. Male</td>
                                        <td>MA/Msc. Female</td>
                                        <td>BA/Bsc. Male</td>
                                        <td>BA/Bsc. Female</td>
                                        <td>Diploma Male</td>
                                        <td>Diploma Female</td>
                                        <td>Certificate Male</td>
                                        <td>Certificate Female</td>
                                        <td>18 - 30</td>
                                        <td>31 - 50</td>
                                        <td>Above 50</td>
                                    </tr>
                                </thead>
                                <tbody ng-init="getSizeByBranchTypeOutlying()">
                                    <tr>
                                        <td style="font-weight: bolder">Outlying Branches</td>
                                        <td style="font-weight: bolder">{{totSum}}</td>
                                        <td style="font-weight: bolder">{{maleo}}</td>
                                        <td style="font-weight: bolder">{{femaleo}}</td>
                                        <td style="font-weight: bolder">{{col111}}</td>
                                        <td style="font-weight: bolder">{{col222}}</td>
                                        <td style="font-weight: bolder">{{col333}}</td>
                                        <td style="font-weight: bolder">{{col444}}</td>
                                        <td style="font-weight: bolder">{{col555}}</td>
                                        <td style="font-weight: bolder">{{col666}}</td>
                                        <td style="font-weight: bolder">{{col777}}</td>
                                        <td style="font-weight: bolder">{{col888}}</td>
                                        <td>{{emp18_30o}}</td>
                                        <td>{{emp31_50o}}</td>
                                        <td>{{emp51o}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btnExport" class="btn btn-success" onclick="javascript:xport.toCSV('SizeofHumanResources_OutlyingBranch');">
                Export to Excel</button>
                <a style="margin:5px; margin-left: 13px;" data-original-title="Print" data-toggle="tooltip" type="button"
                class="btn btn-sm btn-primary" ng-click="printDiv('print3')">
                <img width="25" height="25" src="assets/printer-icon-144-202093.png">
            </a>
        </div> 
        <br>
    <a style="margin:5px; margin-left: 13px; width:120px" data-original-title="Print" data-toggle="tooltip" type="button"
    class="btn btn-sm btn-primary" ng-click="printDiv('printall')">
    <img width="25" height="25" src="assets/printer-icon-144-202093.png">
</a>
</div>